<h1><%= @user.name %></h1>

<!-- Form here for quiz -->
<!-- Link by querying the Quiz table for User name -->

<form action="/enable_quiz" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <button>Change the quiz shit</button>
</form>
