<h1><%= @user.name %></h1>

<!-- Form here for quiz -->
<!-- Link by querying the Quiz table for User name -->

<form action="/enable_quiz" method="post">
  <input type="hidden">
  <button>Change the quiz shit</button>
</form>
